N8N_GENERATE_WEBHOOK_URL=http://n8n:5678/webhook/generate
N8N_STATUS_WEBHOOK_URL=http://n8n:5678/webhook/status
N8N_MP3_GENERATE_WEBHOOK_URL=http://n8n:5678/webhook/mp3-generate
N8N_MP3_STATUS_WEBHOOK_URL=http://n8n:5678/webhook/mp3-status
N8N_SRT_GENERATE_WEBHOOK_URL=https://n8n.urltovideo.es/webhook/srt-generate
N8N_SRT_STATUS_WEBHOOK_URL=https://n8n.urltovideo.es/webhook/srt-status
NEXT_PUBLIC_N8N_SRT_GENERATE_WEBHOOK_URL=https://n8n.urltovideo.es/webhook/srt-generate
NEXT_PUBLIC_N8N_SHARE_VIDEO_GENERATE_WEBHOOK_URL=https://n8n.urltovideo.es/webhook/share-video-generate
N8N_SHARE_VIDEO_LOOKUP_WEBHOOK_URL=https://n8n.urltovideo.es/webhook/share-video-lookup
