N8N_GENERATE_WEBHOOK_URL=http://n8n:5678/webhook/generate
N8N_STATUS_WEBHOOK_URL=http://n8n:5678/webhook/status
N8N_MP3_GENERATE_WEBHOOK_URL=http://n8n:5678/webhook/mp3-generate
N8N_MP3_STATUS_WEBHOOK_URL=http://n8n:5678/webhook/mp3-status
NEXT_PUBLIC_N8N_MP3_GENERATE_WEBHOOK_URL=
